@font-face {
    font-family: 'DancingScript';
    src: url("../../fonts/DancingScript-VariableFont_wght.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lora';
    src: url("../../fonts/Lora-VariableFont_wght.ttf");
    font-style: normal;
    font-weight: normal;
}

:root {
    /*--bars-color: #F8F9F9;*/
    --bars-color: rgba(240, 240, 240, 0.75);
    --txt-main-color: #000000;
    --hunter-color: rgb(255, 99, 71);
    --fox-color: rgb(255, 165, 0);
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 62.5%;
    font-family: serif;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lora';
    font-size: 1.6rem;
    background-image: url("../../img/forest/forest-B.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.box-border {
    /*border: red 1px dashed;*/
}

header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bars-color);
}

div.logo-title {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.logo-title > h1 {
    font-family: 'DancingScript';
}

main {
    display: flex;
}

.sectionA {
    width: 20vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: aqua;*/
}

div.rules-container {
    width: 85%;
    height: 95%;
    padding: 1rem;
    margin: 0.5rem auto;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bars-color);
}

div.rules-container > h2 {
    font-family: 'DancingScript';
    font-size: 3rem;
}

ol.the-rules {
    padding: 0.75rem;
    margin: 0.5rem;
}

ol.the-rules li {
    margin: 0.75rem auto;
    text-align: center;
    font-weight: bolder;
}

.sectionB {
    width: 60vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: blue;*/
}

.gameboard-container {
    width: 50rem;
    height: 50rem;
    padding: 2rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9A6A4F;
    background-image: url("../../img/wood/wood-dark.jpg");
}

.gameboard-container__gameboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /*background-color: cyan;*/
}

span.fox {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fox-color);
}

span.fox img {
    width: 70%;
    height: 70%;
    /*background-color: #000000;*/
}

span.hunter {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--hunter-color);
}

span.hunter img {
    width: 70%;
    height: 70%;
    /*background-color: #000000;*/
}

.gameboard__square--w {
    width: 12.5%;
    height: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: none;
    transition: box-shadow 0.5s;
}

.gameboard__square--w:hover {
    box-shadow: inset 0 0 1rem 0.25rem cornflowerblue;
}

.gameboard__square--b {
    width: 12.5%;
    height: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-shadow: none;
    transition: box-shadow 0.5s;
}

.gameboard__square--b:hover {
    box-shadow: inset 0 0 1rem 0.25rem cornflowerblue;
}

.sectionC {
    width: 20vw;
    height: 80vh;
    /*background-color: aquamarine;*/
}

footer {
    width: 100vw;
    height: 10vh;
    background-color: var(--bars-color);
}